body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}
h1 {
    color: #333333;
}
p {
    color: #666666;
    font-size: 18px;
}
img {
    width: 500px;
    height: auto;
    border: 2px solid #ccc;
    border-radius: 10px;
    margin-top: 20px;
}
button {
    background-color: #4662be;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 20px;
}
button a {
    color: white;
    text-decoration: none;
}
button:hover {
    background-color: #3651a3;
}